<!DOCTYPE html>
<html lang="ja">
{% block head %}
<head>
    <title>最短検索</title>
    <link rel="stylesheet" href="style.css">
</head>
{% endblock head %}

<body>
    <header>
            <nav>
                <!-- -->
            </nav>
    </header>
        <main>
            <div class="container">
                {% block content %}
                    <p>出発地</p>
                    <div>
                    <input type="text" id="departure" name="departure">
                    </div>
                    <p>到着地</p>
                    <div>
                    <input type="text" id="arrival" name="arrival">
                    </div>
                    <p>ー交通手段選択ー</p>
                    <div>
                    <input type="checkbox" id ="bus" name ="bus">
                    <label for="bus">バス</label>
                    </div>
                    <div>
                        <input type="checkbox" id ="car" name ="car">
                        <label for="car">自動車</label>
                    </div>
                    <div>
                        <input type="checkbox" id ="bike" name ="bike">
                        <label for="bike">バイク</label>
                    </div>
                    <div>
                        <input type="checkbox" id ="bicycle" name ="bicycle">
                        <label for="bicycle">自転車</label>
                    </div>
                    <div>
                        <input type="checkbox" id ="train" name ="train">
                        <label for="train">電車</label>
                    </div>
                    <div>
                        <input type="checkbox" id ="walk" name ="walk">
                        <label for="walk">徒歩</label>
                    </div>
                    <p>出発日時</p>
                    <input type="date" id="departure" name="departurestrat">
                    <button><a href="{% url 'gt:Serach_result' %}">検索</a></button>

                {% endblock %}
            </div>
        </main>
    <footer>
        <!-- -->
    </footer>
</body>
</html>