{% extends "base.html" %}

{% load static %}
{% block title %}マイページ{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div>
    <label>氏名: {{ user.name }}</label>
    <label>年齢: {{ user.old }}</label>
    <label>住所: {{ user.address }}</label>
    <label>メールアドレス: {{ user.email }}</label>
</div>
<div>
    <button><a class="btn btn-success mt-5 mb-3" href="{% url 'gt:user_update' request.user.id %}">変更</a></button>
    <button><a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'gt:user_delete' request.user.id %}">退会</a></button>
</div>
<!--歩く速度はYahoo使用不可によりなし-->
<!--TODO 年齢の変数とメールアドレスの変数はDBのカラムに後日修正　create.htmlも後日修正の必要あり-->
{% endif %}

{% endblock %}




<!--urls.py(仮)-->

<!--
    app_name = 'gt'
    urlpatterns = [
        path('account_info/<int:user_id>/', views.account_info, name='account_info'),
    ]
-->


<!--views.py(仮)-->

<!--
    from django.contrib.auth.models import User
    def users(request, user_id):
        user = get_object_or_404(User, pk=user_id)
        context = {
            'user': user,
        }
        return render(request, 'app/user_info.html', context)
-->