{% extends 'gt/base.html' %}
{% load static %}

{% block title %}登録マップ詳細 | Green Traffic{% endblock %}

{% block active_map_list %}active{% endblock %}

{% block content %}

<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>場所名</strong>
        </div>
        <div class="col-9">
            {{ map_detail.name }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>住所</strong>
        </div>
        <div class="col-9">
            {{ map_detail.address|linebreaksbr }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>JSON</strong>
        </div>
        <div class="col-9">
            {{ map_detail.json_data }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-success" href="{% url 'gt:admin_map_change' map_detail.pk %}">変更</a>
                <a class="btn btn-secondary" href="{% url 'gt:admin_top' %}">戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
