{% extends 'base.html' %}
{% load static %}

{% block title %}登録マップ詳細 | Green Traffic{% endblock %}

{% block active_map_list %}active{% endblock %}


{% block contents %}
{% comment %} 以下の内容はDBに依存する {% endcomment %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>場所名</strong>
        </div>
        <div class="col-9">
            {{ object.title }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>住所</strong>
        </div>
        <div class="col-9">
            {{ object.content|linebreaksbr }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>JSON</strong>
        </div>
        <div class="col-9">
            {{ object.json }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>写真</strong>
        </div>
        <div class="col-3">
            {% if object.photo1 %}
            <img src="{{ object.photo1.url }}" width="200" height="200"/>
            {% endif %}
        </div>
        <div class="col-3">
            {% if object.photo2 %}
            <img src="{{ object.photo2.url }}" width="200" height="200"/>
            {% endif %}
        </div>
        <div class="col-3">
            {% if object.photo3 %}
            <img src="{{ object.photo3.url }}" width="200" height="200"/>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>作成日時</strong>
        </div>
        <div class="col-9">
            {{ object.created_at }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>更新日時</strong>
        </div>
        <div class="col-9">
            {{ object.updated_at }}
        </div>
    </div>

    <button><a class="btn btn-success mt-5 mb-3" href="{% url 'gt:map_change' object.pk %}">変更</a></button>
    {% comment %} <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'map:map_delete' object.pk %}">削除</a> {% endcomment %}

    {% comment %} 下で書けばモーダルウィンドウで開けるかも {% endcomment %}
    <button type = "button" class = "btn btn-danger btn-sm" data-bs-toggle = "modal" data-bs-target="#deleteModal-{{object.pk}}">削除</button>
    {% include "gt:map_delete" %}
</div>
{% endblock %}