{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<main>
	<!-- アラートメッセージ -->
	<div id="alert" class="container mt-3">
		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
			{{ message|safe }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
    <div>
        <form method="post" id="locationForm">
            {% csrf_token %}
            <div class="mb-3">
				<h5 class="card-title">登録したい場所を入力してください</h5>
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="mb-3">
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>
			<div class="mb-3">
                {{ form.vehicle_type.label_tag }}
                {{ form.vehicle_type }}
            </div>
            <button type="button" class="btn btn-primary" id="saveButton">登録</button>
        </form>
    </div>

	<!-- 成功時に表示するモーダル -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="successModalLabel">{{ message|safe }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body" onload="initMap()">
					<h3>{{ message|safe }}<h3>
					<div id="map" style="width: 100%; height: 400px;"></div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				<a href="{% url 'gt:admin_top' %}" class="btn btn-primary">TOPページに戻る</a>
				</div>
			</div>
		</div>
	</div>

	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5diRbD4Ex24SsS0_YISzQW5f19mckhf4&callback=initMap&v=weekly"
	></script>

	<script>
		function initMap() {
			var jsonData = JSON.parse('{{ json_data|safe }}');

			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: jsonData
			});

			var marker = new google.maps.Marker({
				position: jsonData,
				map: map
			});
		}

		// 保存ボタンがクリックされたら確認ダイアログを表示
		document.getElementById("saveButton").addEventListener("click", function () {
				if (confirm("このデータを登録しますか？")) {
						// フォームを送信
						document.getElementById("locationForm").submit();
				}
		});
		//成功した場合のモーダルウィンドウ
		$(document).ready(function() {
			// show_modal 変数が true の場合、モーダルを表示し、地図を初期化
			if ('{{ show_modal|safe }}') {
				$('#successModal').modal('show');
			  	initMap();  // 地図を初期化する関数を呼び出す
			}
		});

		//失敗した場合のアラート
		$(document).ready(function() {
			// show_modal 変数が true の場合、モーダルを表示し、地図を初期化
			if ('{{ show_alert|safe }}') {
				$('#alert').show();
			}
		});

		//モーダルウィンドウを閉じるボタン
		$(document).ready(function() {
			// モーダルの閉じるボタンにイベントリスナーを設定
			$('.btn btn-secondary,#successModal').click(function() {
			  // モーダルを閉じる
				$('#successModal').modal('hide');
			});
		});
	</script>
</main>
{% endblock %}
