{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title%} Green Traffic {% endblock %}</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

    <!--bootstrap css-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!--font-awesomeのライブラリ-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

    <!-- jQueryライブラリ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

    {% block head %}{% endblock %}
  </head>

  <body>
    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ログアウトしますか?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="{% url 'gt:logout' %}" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a href="{% url 'gt:top' %}" class="navbar-brand">Green Traffic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                  {% if request.user.username == "admin" %}
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'admin_top' %}active{% endif %}" href="{% url 'gt:admin_top' %}">マップ情報一覧</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'admin_map_register' %}active{% endif %}" href="{% url 'gt:admin_map_register' %}">マップ情報追加</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'admin_user_info' %}active{% endif %}" href="{% url 'gt:admin_user_info' %}">利用者情報閲覧</a>
                  </li>
                  {% else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'top' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-car fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'top' %}active{% endif %}" href="{% url 'gt:top' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_walk' %}active{% endif %}" href="#" id="walkingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-walking fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="walkingDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_walk' %}active{% endif %}" href="{% url 'gt:search_walk' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_bike' %}active{% endif %}" href="#" id="bikingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-biking fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="bikingDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_bike' %}active{% endif %}" href="{% url 'gt:search_bike' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_short' or request.resolver_match.url_name == 'search_cheap' %}active{% endif %}" href="#" id="trainDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-train fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="trainDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_short' %}active{% endif %}" href="{% url 'gt:search_short' %}">最短</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_cheap' %}active{% endif %}" href="{% url 'gt:search_cheap' %}">最安</a></li>
                    </ul>
                  </li>

                  {% comment %} urlsから拾ってきてね（まだHTMLないから作ってHTMLをレンダリングさせるviewsも書いてね） {% endcomment %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_share_car' or request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="#" id="handshakeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-share-alt fa-lg mr-2"></i>
                      <i class="fas fa-car mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="handshakeDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_share_car' or request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="#" id="handshakeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-share-alt fa-lg mr-2"></i>
                      <i class="fas fa-biking mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="handshakeDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'my_map' %}active{% endif %}" href="{% url 'gt:my_map' %}">My Map</a>
                  </li>
                  {% endif %}
                {% else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'top' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-car fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'top' %}active{% endif %}" href="{% url 'gt:top' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_walk' %}active{% endif %}" href="#" id="walkingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-walking fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="walkingDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_walk' %}active{% endif %}" href="{% url 'gt:search_walk' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_bike' %}active{% endif %}" href="#" id="bikingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-biking fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="bikingDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_bike' %}active{% endif %}" href="{% url 'gt:search_bike' %}">最短</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_short' or request.resolver_match.url_name == 'search_cheap' %}active{% endif %}" href="#" id="trainDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-train fa-lg mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="trainDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_short' %}active{% endif %}" href="{% url 'gt:search_short' %}">最短</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_cheap' %}active{% endif %}" href="{% url 'gt:search_cheap' %}">最安</a></li>
                    </ul>
                  </li>

                  {% comment %} urlsから拾ってきてね（まだHTMLないから作ってHTMLをレンダリングさせるviewsも書いてね） {% endcomment %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_share_car' or request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="#" id="handshakeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-share-alt fa-lg mr-2"></i>
                      <i class="fas fa-car mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="handshakeDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'search_share_car' or request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="#" id="handshakeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-share-alt fa-lg mr-2"></i>
                      <i class="fas fa-biking mr-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="handshakeDropdown">
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_car' %}active{% endif %}" href="{% url 'gt:search_share_car' %}">自動車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                      <li><a class="dropdown-item {% if request.resolver_match.url_name == 'search_share_bike' %}active{% endif %}" href="{% url 'gt:search_share_bike' %}">自転車</a></li>
                    </ul>
                  </li>

                {% endif %}
              </ul>

              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                  {% if request.user.username != "admin" %}
                    <!-- ログインしている非管理者ユーザー向けのナビゲーションアイテム -->
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link" href="#"><div id="text"></div></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'user_info' or request.resolver_match.url_name == 'user_spot_list' or request.resolver_match.url_name == 'account_history' %}active{% endif %}" id="navbarDropdownMenuLink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-cog fa-lg"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'user_info' %}active{% endif %}" href="{% url 'gt:user_info' %}">マイプロフィール</a></li>
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'user_spot_list' %}active{% endif %}" href="{% url 'gt:user_spot_list' %}">スポットリスト</a></li>
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'account_history' %}active{% endif %}" href="{% url 'gt:account_history' %}">履歴リスト</a></li>
                      </ul>
                    </li>
                  {% endif %}
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#"><div id="text"></div></a>
                    <button type="button" class="btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal">
                      ログアウト
                    </button>
                  </li>
                {% else %}
                  <!-- 未ログイン時のナビゲーションアイテム -->
                  <li class="nav-item">
                    <a class="nav-link" href="#"><div id="text"></div></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'gt:register' %}">新規登録</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'user_login' %}active{% endif %}" href="{% url 'gt:user_login' %}">ログイン</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        {% block header%}{% endblock %}

        <!-- Page content-->
      <div class="container">
          <div class="text-center mt-5">
            {% block content %}{% endblock content %}
          </div>
      </div>
      <!-- Footer -->
      <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
          <!-- 画像をクリックするとモーダルを開く -->
          <img src="{% static 'assets/ohara.png' %}" alt="Footer Image" style="max-height: 50px;" data-bs-toggle="modal" data-bs-target="#externalSiteModal">
          <div class="text-white">
            Green traffic.
          </div>
        </div>
      </footer>

      <!-- モーダルウィンドウ -->
      <div class="modal fade" id="externalSiteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">広告</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- 外部サイトを表示するiframe -->
              <iframe src="https://www.o-hara.ac.jp/senmon/school/tokyo_it/" style="width:100%;height:80vh;" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>