{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<body onload="initMap()">
  <!--フォームの表示非表示-->
  <div id="help-container">
    <div id="help-text"></div>
  </div>
  <div id="map-container">
    <div>
      <i id="help-icon" class="far fa-question-circle" onclick="loadAndShowModal()"></i>
    </div>
    <!-- ヘルプモードの状態表示用の要素 -->
    <div id="help-status" style="display: none;"></div>
    <canvas id="canvas"></canvas>
    <div>
    <div>
      <i id="toggle-icon" class="fas fa-eye" onclick="toggleInputForm()"></i>
    </div>
    <div>
      <i id="toggle-button" class="fas fa-solid fa-arrow-left"onclick="toggleDirectionsPanel()"></i>
    </div>
    <div id="floating-panel">
      <h4>最短検索</h4>
      <div class="input-group">
        <label>出: </label>
        <input type="text" id="start" placeholder="出発地を入力してください" />
        <i id="current-location-icon" class="fas fa-compass" onclick="getCurrentLocation()"></i>
      </div>
      <div id="waypoint1-group" class="form-group">
        <label id="waypoint1-label" for="waypoint1">中継地点１:</label>
        <input type="text" id="waypoint1" placeholder="中継地点を入力してください">
      </div>
      <div id="waypoint2-group" class="form-group">
        <label id="waypoint2-label" for="waypoint2">中継地点２:</label>
        <input type="text" id="waypoint2" placeholder="中継地点を入力してください">
      </div>
      <!-- 中継地点を表示するボタン -->
      <div class="mode-Relay" onclick="toggleWaypoints()">
        <label>中継地点 </label>
        <i id="swap-icon" class="fas fa-exchange-alt"></i>
      </div>
      <div class="input-group">
        <label>着: </label>
        <input type="text" id="end" placeholder="目的地を入力してください" />
        <i id="swap-icon-updown" class="fas fa-exchange-alt" onclick="swapStartEnd()"></i><br>
      </div>
      <label>出発時刻: </label>
      <input type="date" id="departure-date" />
      <input type="time" id="departure-time" />
      <div class="mode-selector">
        <button class="btn-border" onclick="fetchRouteAndDisplayOnMap()">検索</button>
      </div>
    </div>

    <div id="map"></div>
    <div id="directions-panel">
      <div id="resize-handle"></div>
      <div class="tab" onclick="toggleTab('content')">Content</div>
      <div class="tab" onclick="toggleTab('details')">Details</div>
      <div id="content-tab" class="tab-content active"></div>
      <div id="details-tab" class="tab-content"></div>
    </div>
  </div>
</div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&v=weekly"
    defer
  ></script>

  <script>
    /*電車が選択された際にAPIをfetchする関数*/
    function fetchRouteAndDisplayOnMap() {
      const start = document.getElementById("start").value;
      const waypoint1 = document.getElementById("waypoint1").value;
      const waypoint2 = document.getElementById("waypoint2").value;
      const end = document.getElementById("end").value;
      const departureDateInput = document.getElementById("departure-date").value;
      const departureTimeInput = document.getElementById("departure-time").value;

     // 日付をyyyymmdd形式に変換
      const departureDate = departureDateInput.split('-').join('');
     // 時間をhhmm形式に変換
      const departureTime = departureTimeInput.split(':').join('');

      const queryParams = new URLSearchParams({
        start: start,
        waypoint1: waypoint1,
        waypoint2: waypoint2,
        end: end,
        date: departureDate,
        time: departureTime
        sort: 0,
      });

      const url = `/fetch-jorudan-cheap-route/?${queryParams.toString()}`;
      fetch(url,{
        method : 'GET',
      })
      .then(response => {
        if(!response.ok){
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        //取得したルート情報を地図上に表示する
        displayRouteOnMap(data);
        displayRouteInfo(data)
        expandPanel();
        //alert(JSON.stringify(data,null,2));
      })
      .catch(error => {
        console.error('Error:',error)
      });
    }
  </script>
  <script src="{% static 'js/floatingPanel.js' %}"></script>
  <script src="{% static 'js/pageLoadingActions.js' %}"></script>
  <script src="{% static 'js/mapFunctionsTrain.js' %}"></script>
  <script src="{% static 'js/helpicon.js' %}"></script>
</body>
{% endblock content %}
