{% extends "base.html" %}

{% load static %}
{% block title %}マイページ{% endblock %}

{% block content %}
<h2>登録情報</h2>
{% if user.is_authenticated %}
<div class="reg">
    {% csrf_token %}
    <table class="reg_form">
        <tr>
            <th>氏名</th>
            <td>{{ user.account.last_name }} {{ user.account.first_name }}</td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td>{{ user.account.zipcode }}</td>
        </tr>
        <tr>
            <th>住所</th>
            <td>{{ user.account.state }} {{ user.account.city }} {{ user.account.address_1 }} {{ user.account.address_2 }}</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>
    <div class="button-container">
        <a href="{% url 'gt:user_delete' %}" class="btn btn--radius btn--cubic btn-cancel">削除</a>
        <a href="{% url 'gt:user_update' %}" class="btn btn--radius btn--cubic btn-submit">編集</a>
    </div>
</div>
{% endif %}
{% endblock %}
