{% extends 'base.html' %}
{% load static %}

{% block title %}検索履歴詳細 | Green Traffic{% endblock %}

{% block active_log_list %}active{% endblock %}


{% block contents %}
{% comment %} 以下の内容はDBに依存する {% endcomment %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3">
            <strong>検索の種類</strong>
        </div>
        <div class="col-9">
            {{ object.kinds }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>検索結果</strong>
        </div>
        <div class="col-9">
            {{ object.content|linebreaksbr }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>JSON</strong>
        </div>
        <div class="col-9">
            {{ object.json }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>検索日時</strong>
        </div>
        <div class="col-9">
            {{ object.created_at }}
        </div>
    </div>
</div>
{% endblock %}