<!-- user_update.html -->
{% extends 'base.html' %}
{% block title %}登録情報更新ページ{% endblock %}
{% block content %}
<div class="reg">
    <h1>登録情報の変更</h1>
    <form action="{% url 'gt:user_update' %}" method="POST">
        {% csrf_token %}
        <table class="reg_form">
        <tr>
            <td>
                <label for="id_last_name">苗字:</label>
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </td>
            <td>
                <label for="id_first_name">名前:</label>
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </td>
        </td>
            <tr>
            <td>
                <label for="id_zipcode">郵便番号:</label>
                {{ form.zipcode.errors }}
                {{ form.zipcode }}
            </td>
            <td>
                <label for="id_state">都道府県:</label>
                {{ form.state.errors }}
                {{ form.state }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_city">市区町村:</label>
                {{ form.city.errors }}
                {{ form.city }}
            </td>
            <td>
                <label for="id_address_1">番地:</label>
                {{ form.address_1.errors }}
                {{ form.address_1 }}
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_address_2">建物名・部屋番号:</label>
                {{ form.address_2.errors }}
                {{ form.address_2 }}
            </td>
            <td>
                <label for="id_gender">性別:</label>
                {{ form.gender.errors }}
                {{ form.gender }}
            </td>
        </tr>
</table>
        <div class="button-container">
            <a href="{% url 'gt:user_info' %}" class="btn btn--radius btn--cubic btn-cancel">戻る</a>
            <button class="btn btn--radius btn--cubic btn-submit" type="submit">変更</button>
        </div>
    </form>
</div>
{% endblock %}
