{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<body onload="initMap()">
  <!--フォームの表示非表示-->
  <div id="help-container">
    <div id="help-text"></div>
  </div>
  <div id="map-container">
    <div>
      <i id="help-icon" class="far fa-question-circle" onclick="loadAndShowModal()"></i>
    </div>
    <!-- ヘルプモードの状態表示用の要素 -->
    <div id="help-status" style="display: none;"></div>
    <canvas id="canvas"></canvas>
    <div>
      <i id="toggle-icon" class="fas fa-eye" onclick="toggleInputForm()"></i>
    </div>
    <div>
      <i id="toggle-button" class="fas fa-solid fa-arrow-left"onclick="toggleDirectionsPanel()"></i>
    </div>
    <div id="floating-panel">
      <h4>経路検索</h4>
      <div class="input-group">
        <label>出: </label>
        <input type="text" id="start" placeholder="出発地を入力してください" />
        <i id="current-location-icon" class="fas fa-compass" onclick="getCurrentLocation()"></i>
      </div>
      <div id="waypoint1-group" class="form-group">
        <label id="waypoint1-label" for="waypoint1">中継地点１:</label>
        <input type="text" id="waypoint1" placeholder="中継地点を入力してください">
      </div>
      <div id="waypoint2-group" class="form-group">
        <label id="waypoint2-label" for="waypoint2">中継地点２:</label>
        <input type="text" id="waypoint2" placeholder="中継地点を入力してください">
      </div>
      <!-- 中継地点を表示するボタン -->
      <div class="mode-Relay" onclick="toggleWaypoints()">
        <label>中継地点 </label>
        <i id="swap-icon" class="fas fa-exchange-alt"></i>
      </div>
      <div class="input-group">
        <label>着: </label>
        <input type="text" id="end" placeholder="目的地を入力してください" />
        <i id="swap-icon-updown" class="fas fa-exchange-alt" onclick="swapStartEnd()"></i>
      </div>
      <div class="mode-selector">
        <button class="btn-border"onclick="calculateAndDisplayRoute()">検索</button>
      </div>
    </div>

    <div id="map"></div>
    <div id="directions-panel">
      <div class="tab" onclick="toggleTab('content')">Content</div>
      <div class="tab" onclick="toggleTab('details')">Details</div>
      <div id="content-tab" class="tab-content active"></div>
      <div id="details-tab" class="tab-content"></div>
    </div>

  </div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&v=weekly"
    defer
  ></script>

  <script>
    /*経路検索メソッド*/
    function calculateAndDisplayRoute() {
      const start = document.getElementById("start").value;
      const waypoint1 = document.getElementById("waypoint1").value;
      const waypoint2 = document.getElementById("waypoint2").value;
      const end = document.getElementById("end").value;

      const request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.WALKING,
      };

      if (waypoint1) {
        request.waypoints = [{ location: waypoint1 }];
      }
      if (waypoint2) {
        if (!request.waypoints) request.waypoints = [];
        request.waypoints.push({ location: waypoint2 });
      }

      directionsService.route(request, (response, status) => {
        if (status === "OK") {
          directionsRenderer.setDirections(response);
          showRouteInformation(response);
          expandPanel();
        } else {
          window.alert("Directions request failed due to " + status);
        }
      });
    }
  </script>
  <!-- JavaScriptファイルへのリンク -->
  <script src="{% static 'js/mapFunctions.js' %}"></script>
  <script src="{% static 'js/floatingPanel.js' %}"></script>
  <script src="{% static 'js/pageLoadActions.js' %}"></script>
  <script src="{% static 'js/helpicon.js' %}"></script>
</body>
{% endblock content %}