{% extends "gt/base.html" %}
{% load static %}

{% block content %}
<div id="help-container">
  <div id="help-text"></div>
</div>
<div id="auth-container">
  <div>
    <i id="help-icon" class="far fa-question-circle" onclick="loadAndShowModal()"></i>
  </div>
  <!-- ヘルプモードの状態表示用の要素 -->
  <div id="help-status" style="display: none;"></div>


{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
{% if registered %}
<div class="error">{{ registered }}</div>
{% endif %}
<div class="reg">
  <h1>ログイン画面</h1>
  <form method="post" action="{% url 'gt:user_login' %}">
    {% csrf_token %}
    <table class="reg_form">
      <th><label for="userid">ユーザーID:</label></th>
      <td id='userID'><input type="text" name="userid"></td>
      <th><label for="password">パスワード：</label></th>
      <td id='login-password'><input type="password" name="password"></td>
      </tr>
      </table>

    <div class="button-container">
        <a id='back' href="{% url 'gt:top' %}" class="btn btn-secondary">キャンセル</a>
        <input id='login' type="submit" class="btn btn-submit" value="ログイン">
    </div>
  </form>
</div>
<div class='ssss'>
<p class="message">アカウントをお持ちですか？：
  <a id='register1' href="{% url 'gt:register' %}">アカウントを作成</a>
</p>
</div>
<script src="{% static 'js/helpicon.js' %}"></script>

{% endblock %}
