{% extends "gt/base.html" %}
{% load static %}

{% block title %}
新規登録 - Green traffic
{% endblock %}

{% block content %}

<!-- 登録フォームの内容 -->
{% if AccountCreate %}
  <h1>メールを確認してください</h1>
  <a href="{% url 'gt:top' %}" class="btn btn-cancel">topに戻る</a>
{% else %}

<h1>新規登録</h1>
  <div class="reg">
    {% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
    <!-- 登録フォームの構造 -->
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <table class="reg_form">
        <tr>
          <th>{{ account_form.username.label_tag }}</th>
          <td>
            {{ account_form.username }}
          </td>
        </tr>
        <tr>
          <th>{{ account_form.email.label_tag }}</th>
          <td>{{ account_form.email }}</td>
        </tr>
        <tr>
          <th>{{ account_form.password.label_tag }}</th>
          <td>
            {{ account_form.password }}
            {% if account_form.password.errors %}
            <div class="error">{{ account_form.password.errors }}</div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>{{ add_account_form.last_name.label_tag }}</th>
          <td>{{ add_account_form.last_name }}</td>
          <th>{{ add_account_form.first_name.label_tag }}</th>
          <td>{{ add_account_form.first_name }}</td>
        </tr>
        <tr>
          <th>{{ add_account_form.zipcode.label_tag }}</th>
          <td>{{ add_account_form.zipcode }}</td>
          <th>{{ add_account_form.state.label_tag }}</th>
          <td>{{ add_account_form.state }}</td>
        </tr>
        <tr>
          <th>{{ add_account_form.city.label_tag }}</th>
          <td>{{ add_account_form.city }}</td>
          <th>{{ add_account_form.address_1.label_tag }}</th>
          <td>{{ add_account_form.address_1 }}</td>
        </tr>
        <tr>
          <th>{{ add_account_form.address_2.label_tag }}</th>
          <td>{{ add_account_form.address_2 }}</td>
        </tr>
      </table>
      <div class="button-container">
        <a class="btn btn-secondary" href="{% url 'gt:top' %}">戻る</a>
        <input type="submit" value="登録" class="btn btn--radius btn--cubic btn-submit" />
      </div>
    </form>
  </div>
{% endif %}
{% endblock %}
