{% extends 'base.html' %}
{% block title %}登録情報更新ページ{% endblock %}
{% block content %}
<h1>登録情報の変更</h1>
<div class="reg">
    <form action="{% url 'gt:user_update' %}" method="POST">
        {% csrf_token %}
        <table class="reg_form">
            <tr>
              <th>{{ form.username.label_tag }}</th>
              <td>{{ form.username }}</td>
              <th>{{ form.email.label_tag }}</th>
              <td>{{ form.email }}</td>
            </tr>
            <tr>
              <th>{{ form.password.label_tag }}</th>
              <td>
                {{ form.password }}
                {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>{{ form.last_name.label_tag }}</th>
              <td>{{ form.last_name }}</td>
              <th>{{ form.first_name.label_tag }}</th>
              <td>{{ form.first_name }}</td>
            </tr>

            <tr>
              <th>{{ form.gender.label_tag }}</th>
              <td>{{ form.gender }}</td>
            </tr>

            <tr>
              <th>{{ form.zipcode.label_tag }}</th>
              <td>{{ form.zipcode }}</td>
              <th>{{ form.state.label_tag }}</th>
              <td>{{ form.state }}</td>
            </tr>

            <tr>
              <th>{{ form.city.label_tag }}</th>
              <td>{{ form.city }}</td>
              <th>{{ form.address_1.label_tag }}</th>
              <td>{{ form.address_1 }}</td>
            </tr>
            <tr>
              <th>{{ form.address_2.label_tag }}</th>
              <td>{{ form.address_2 }}</td>
            </tr>

          </table>
        <div class="button-container">
            <a href="{% url 'gt:user_info' %}" class="btn btn--radius btn--cubic btn-cancel">戻る</a>
            <button class="btn btn--radius btn--cubic btn-submit" type="submit">変更</button>
        </div>
    </form>
</div>
{% endblock %}
