{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<body onload="initMap()">
  <div id="floating-panel">
    <h3>シェア検索</h3>
    <div class="input-group">
      <label>出発地: </label>
      <input type="text" id="start" placeholder="出発地を入力してください" />
      <i id="current-location-icon" class="fas fa-compass" onclick="getCurrentLocation()"></i>
    </div>
    <div class="input-group">
      <label>目的地: </label>
      <input type="text" id="end" placeholder="目的地を入力してください" />
      <i id="swap-icon" class="fas fa-exchange-alt" onclick="swapStartEnd()"></i>
    </div>

    <div class="mode-selector">
      <button class="button-class"onclick="trainTF()">検索</button>
    </div>
  </div>
  <!--フォームの表示非表示-->
  <div id="map-container">
    <div>
      <i id="toggle-icon" class="fas fa-eye" onclick="toggleInputForm()"></i>
    </div>
    <div>
      <i id="toggle-button" class="fas fa-solid fa-arrow-left"onclick="toggleDirectionsPanel()"></i>
    </div>
    <div id="map"></div>
    <div id="directions-panel">
      <div class="tab" onclick="toggleTab('content')">Content</div>
      <div class="tab" onclick="toggleTab('details')">Details</div>
      <div id="content-tab" class="tab-content active"></div>
      <div id="details-tab" class="tab-content"></div>
    </div>
  </div>

  <script>
    /*経路検索メソッド*/
		async function calculateAndDisplayRoute(directionsService, directionsRendererStartToShare, directionsRendererShareToShare, directionsRendererShareToEnd, geocoder, waypoints) {
			try {

					if (!directionsService) {
						console.error("directionsService is not defined.");
						return;
					}

					const startAddress = document.getElementById("start").value;
					const endAddress = document.getElementById("end").value;

					// 入力値が有効かどうかを確認
					if (!startAddress || !endAddress) {
							alert("出発地と目的地を入力してください。");
							return;
					}

          const startLocation = await geocodeAddress(geocoder, startAddress).catch(error => {
            alert(error.message);
            throw error; // さらなるエラーハンドリングを停止する
          });

          const endLocation = await geocodeAddress(geocoder, endAddress).catch(error => {
            alert(error.message);
            throw error; // さらなるエラーハンドリングを停止する
          });

          let nearestWaypointToStart;
          let nearestWaypointToEnd;

          try {
                nearestWaypointToStart = findNearestWaypoint(startLocation, waypoints);
              } catch (error) {
                alert(error.message);
                return; // 最寄りの中継地点が見つからない場合はここで処理を停止します
              }

              try {
                nearestWaypointToEnd = findNearestWaypoint(endLocation, waypoints);
              } catch (error) {
                alert(error.message);
                return; // 最寄りの中継地点が見つからない場合はここで処理を停止します
              }

          const request1 = {
						origin: startLocation,
						destination: nearestWaypointToStart,
						travelMode: google.maps.TravelMode.WALKING,
					};

          const request2 = {
						origin: nearestWaypointToStart,
						destination: nearestWaypointToEnd,
						travelMode: google.maps.TravelMode.BICYCLING,
					};

					const request3 = {
						origin: nearestWaypointToEnd,
						destination: endLocation,
						travelMode: google.maps.TravelMode.WALKING,
					};

          await new Promise((resolve, reject) => {
            directionsService.route(request1, (response, status) => {
              if (status !== "OK") {
                alert("Directions request for start to nearest waypoint failed due to: " + status);
                reject(new Error(status));
              } else {
                directionsRendererStartToShare.setDirections(response);
                expandPanel();
                showRouteInformation(response);
                resolve();
              }
            });
          });

          await new Promise((resolve, reject) => {
            directionsService.route(request2, (response, status) => {
              if (status !== "OK") {
                alert("Directions request for start to nearest waypoint failed due to: " + status);
                reject(new Error(status));
              } else {
                directionsRendererShareToShare.setDirections(response);
                showRouteInformation(response);
                resolve();
              }
            });
          });

          await new Promise((resolve, reject) => {
            directionsService.route(request3, (response, status) => {
              if (status !== "OK") {
                alert("Directions request for start to nearest waypoint failed due to: " + status);
                reject(new Error(status));
              } else {
                directionsRendererShareToEnd.setDirections(response);
                showRouteInformation(response);
                resolve();
              }
            });
          });

			} catch (error) {
        console.error('経路計算中にエラーが発生しました:', error);
					alert("経路計算中にエラーが発生しました: " + error.message);
			}
		}

  window.onload = function() {
    // Hide the waypoint fields and label on load
    document.getElementById('waypoint1-group').style.display = 'none';
    document.getElementById('waypoint2-group').style.display = 'none';
    document.getElementById('waypoint-label').style.display = 'none'; // Assuming you have a label with this ID
  };
  </script>
  <!-- JavaScriptファイルへのリンク -->
  <script src="{% static 'js/floatingPanel.js' %}"></script>
  <script src="{% static 'js/mapFunctionsShareBike.js' %}"></script>
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5diRbD4Ex24SsS0_YISzQW5f19mckhf4&libraries=geometry&callback=initMap&v=weekly"
  ></script>
</body>
{% endblock content %}