{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<body>
  <!--フォームの表示非表示-->
  <div id="help-container">
    <div id="help-text"></div>
  </div>
  <div id="map-container">
    <div>
      <i id="help-icon" class="far fa-question-circle" onclick="loadAndShowModal()"></i>
    </div>
    <!-- ヘルプモードの状態表示用の要素 -->
    <div id="help-status" style="display: none;"></div>
    <canvas id="canvas"></canvas>
    <div>
      <i id="toggle-icon" class="fas fa-eye" onclick="toggleInputForm()"></i>
    </div>
    <div>
      <i id="toggle-button" class="fas fa-solid fa-arrow-left"onclick="toggleDirectionsPanel()"></i>
    </div>

    <!-- マップ内の検索フォーム -->
    <div id="floating-panel">
		<h3>shop検索</h3>
		<div class="input-group">
      <input type="text" id="map-search-input" placeholder="お店を検索">
			<button id="search-button"class="btn-border">検索</button>
		</div>
	</div>

		<div id="map"></div>
		<div id="directions-panel">
			<div class="tab" onclick="toggleTab('place-details')">Details</div>
			<!-- 検索結果の詳細表示 -->
			<div id="place-details" class="tab-content">
				<!-- 初期状態での案内メッセージ -->
			</div>
		</div>
	</div>
	<!-- JavaScriptファイルへのリンク -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initMap&v=weekly"
		async defer
	></script>
  <script src="{% static 'js/helpicon.js' %}"></script>
  <script src="{% static 'js/floatingPanel.js' %}"></script>
	<script src="{% static 'js/mapFunctionsShop.js' %}"></script>

  <script type="text/javascript">

		function toggleTab(tabId) {
			// すべてのタブコンテンツを非表示にする
			var tabContents = document.getElementsByClassName('tab-content');
			for (var i = 0; i < tabContents.length; i++) {
				tabContents[i].style.display = 'none';
			}

			// すべてのタブから 'active' クラスを削除する
			var tabs = document.getElementsByClassName('tab');
			for (var i = 0; i < tabs.length; i++) {
				tabs[i].classList.remove('active');
			}

			// 選択されたタブコンテンツを表示する
			var selectedTabContent = document.getElementById(tabId);
			if (selectedTabContent) {
				selectedTabContent.style.display = 'block';
			}

			event.target.classList.add('active');
		}

  </script>

</body>
{% endblock content %}