{% extends "gt/base.html" %}
{% load static %}
{% block title %}Green Traffic{% endblock %}

{% block content %}
<body onload="initMap()">
  <div id="map-container">
    <div>
      <i id="toggle-icon" class="fas fa-eye" onclick="toggleInputForm()"></i>
    </div>
    <div>
      <i id="toggle-button" class="fas fa-solid fa-arrow-left"onclick="toggleDirectionsPanel()"></i>
    </div>
    <div id="floating-panel">
      <h3>my map</h3>
      <form method="post">
        {% csrf_token %}
        <!-- 出発地フィールド -->
        <div class="form-group" id = "id_start">
          {{ form.start.label_tag }} {{ form.start }}
        </div>

        <!-- 出発地スポット選択 -->
        <div class="input-group " id="spot-start-input-group">
          {{ form.start_spot.label_tag }}
          {{ form.start_spot }}
        </div>

        <!-- 目的地フィールド -->
        <div class="form-group " id = "id_end">
          {{ form.end.label_tag }} {{ form.end }}
        </div>
        <!-- 目的地スポット選択 -->
        <div class="input-group" id="spot-end-input-group">
          {{ form.end_spot.label_tag }}
          {{ form.end_spot }}
        </div>
        <!-- 移動モード選択 -->
        <div class="input-group">
          {{ form.travel_mode.label_tag }}
          {{ form.travel_mode }}
        </div>

        <div class="mode-selector">
          <button type="submit" class="btn-border">検索</button>
        </div>

      </form>
    </div>
    <div id="map"></div>
    <div id="directions-panel">
      <div class="tab" onclick="toggleTab('content')">Content</div>
      <div class="tab" onclick="toggleTab('details')">Details</div>
      <div id="content-tab" class="tab-content active"></div>
      <div id="details-tab" class="tab-content"></div>
    </div>
  </div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5diRbD4Ex24SsS0_YISzQW5f19mckhf4&callback=initMap&v=weekly"
    defer
  ></script>

  <script type="text/javascript">

    var map;
    let directionsService, directionsRenderer;
    let currentLocationMarker;

    const startQuery = "{{ start|escapejs }}";
    const endQuery = "{{ end|escapejs }}";
    const travelModeQuery = "{{ travel_mode|escapejs }}";

    //マップ情報
    function initMap() {
      var Marker;
      const initial_location = { lat: 35.689, lng: 139.692 };

      /*現在地更新を5000秒ごとに繰り返す*/
      setInterval(updateCurrentLocation, 5000);

      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 17,
        center: initial_location,
      });

      /*交通情報*/
      const trafficLayer = new google.maps.TrafficLayer();
      trafficLayer.setMap(map);

      //検索結果を左のタブに表示
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer({
        map: map,
        panel: document.getElementById("content-tab"),
      });

      //ジオコーディング
      function geocode(){  var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'location': Marker.getPosition()},
          function(results, status) {
        if (status == google.maps.GeocoderStatus.OK && results[0]){
          document.getElementById('id_address').innerHTML =
              results[0].formatted_address.replace(/^日本, /, '');
        }else{
          document.getElementById('id_address').innerHTML =
            "Geocode 取得に失敗しました";
          alert("Geocode 取得に失敗しました reason: "
                + status);
        }
        });
      }
      addSpotsMarkers();
    }

    /*上記までがinitMap()*/

    // スポットのマーカーを追加する新しい関数
    function addSpotsMarkers() {
      const spotsData = JSON.parse('{{ spots_json|safe }}');
      var markerIcon = {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 10, // アイコンのサイズ
        fillColor: "#0000FF", // 青色に設定
        fillOpacity: 1,
        strokeWeight: 2,
        strokeColor: "#FFFFFF" // 白色の境界線
      };
      spotsData.forEach(function(spot) {
        const latLng = spot.json_data;
        const marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: spot.spot_name,
          icon: markerIcon
        });
        // アドレス情報を含む情報ウィンドウをマーカーに追加
        var infoWindow = new google.maps.InfoWindow({
          content: '<div><strong>' + spot.spot_name + '</strong><br>' +
                  'Address: ' + spot.address + '</div>'
        });

        // マーカークリック時に情報ウィンドウを表示
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
      });
    }

    /*現在地を出発地に指定*/
    function getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const currentLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };

            // Set center and add marker
            map.setCenter(currentLocation);
            addCurrentLocationMarker(currentLocation);

            // Set the start input value
            //document.getElementById("start").value = "現在地" ;
            document.getElementById("start").value = currentLocation.lat + ", " + currentLocation.lng;
          },
          () => {
            console.error("Error getting current location");
          }
        );
      } else {
        console.error("Geolocation is not supported by this browser");
      }
    }

    /*現在地に常時ピン差し一回目*/
    function addCurrentLocationMarker(location) {
      // Remove existing marker if any
      if (currentLocationMarker) {
        currentLocationMarker.setMap(null);
      }

      // Add marker
      currentLocationMarker = new google.maps.Marker({
        position: location,
        map: map,
        title: "Current Location",
        icon: {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 10,
          fillColor: "#4285F4",
          fillOpacity: 1,
          strokeColor: "#ffffff",
          strokeWeight: 2,
        },
      });
    }

    /*現在地を取得しマーカーを置く(2回目以降)*/
    function updateCurrentLocationMarker(location) {
      // If the marker doesn't exist, create it
      if (!currentLocationMarker) {
        currentLocationMarker = new google.maps.Marker({
          map: map,
          title: "Current Location",
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 10,
            fillColor: "#4285F4",
            fillOpacity: 1,
            strokeColor: "#ffffff",
            strokeWeight: 2,
          },
        });
      }

      /*更新された現在地をマーカーにセットする*/
      currentLocationMarker.setPosition(location);

      /*地図の中央地を更新された現在地に変更する*/
      map.setCenter(location);
    }

    /*リアルタイムで現在地を取得する*/
    function updateCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const currentLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };

            /* 現在地のピンを打つ*/
            updateCurrentLocationMarker(currentLocation);
          },
          () => {
            console.error("Error getting current location");
          }
        );
      } else {
        console.error("Geolocation is not supported by this browser");
      }
    }

    function expandPanel() {
      var panel = document.getElementById('directions-panel');
      panel.classList.add('expanded'); // expanded クラスを追加して拡大します
    }

    window.onload = function() {
      initMap();
      checkAndExecuteTrainTF();
    };

    // フォームがPOSTで送信されたかどうかを判定し、trainTF()を実行する関数
    function checkAndExecuteTrainTF() {
      {% if submitted %}
        trainTF();
      {% endif %}
    }

    /*電車かそれ否かを分ける関数*/
    function trainTF(){
      if (!map) {
        console.error("Map object is not initialized yet.");
        return;
      }
      calculateAndDisplayRoute()
    }

    /*経路検索メソッド*/
    function calculateAndDisplayRoute() {
      const start = startQuery;
      const end = endQuery;
      const travelMode = travelModeQuery || 'DRIVING';

      const request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode[travelMode],
      };

      directionsService.route(request, (response, status) => {
        if (status === "OK") {
          directionsRenderer.setDirections(response);
          showRouteInformation(response);
          expandPanel();
        } else {
          window.alert("Directions request failed due to " + status);
        }
      });
    }

    /*検索結果をinnerHTMLで記載*/
    function showRouteInformation(response) {
      const directionsPanel = document.getElementById("details-tab");
      directionsPanel.innerHTML = "";

      for (let i = 0; i < response.routes.length; i++) {
        const route = response.routes[i];

        const summary = document.createElement("div");
        summary.innerHTML = `<b>${route.summary}</b>`;
        directionsPanel.appendChild(summary);

        const steps = route.legs[0].steps;
        for (let j = 0; j < steps.length; j++) {
          const stepInfo = document.createElement("div");
          stepInfo.innerHTML = steps[j].instructions;
          directionsPanel.appendChild(stepInfo);
        }
      }
    }
  </script>
  <!-- JavaScriptファイルへのリンク -->
  <script src="{% static 'js/floatingPanel.js' %}"></script>
</body>
{% endblock content %}