{% extends 'gt/base.html' %}
{% load static %}

{% block title %}登録マップ詳細 | Green Traffic{% endblock %}

{% block spot_detail %}active{% endblock %}

{% block content %}
<main onload="initMap()">
    <h1>スポット詳細</h1>
    <div class="container my-div-style">
        <div class="row">
            <div class="col-5">
                <strong>場所名</strong>
            </div>
            <div class="col-6">
                {{ spot_detail.spot_name }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-5">
                <strong>住所</strong>
            </div>
            <div class="col-6">
                {{ spot_detail.address|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div id="map" style="width: 100%; height: 400px;"></div>

        <hr>

        <div class="row">
            <div class="col-12">
                <div class="button-container">
                    <a class="btn btn-secondary" href="{% url 'gt:user_spot_list' %}">戻る</a>
                </div>
            </div>
        </div>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&v=weekly"
        ></script>

        <script>
            function initMap() {
                var jsonData = JSON.parse('{{ spot_detail.json_data|safe }}');

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: jsonData
                });

                var marker = new google.maps.Marker({
                    position: jsonData,
                    map: map
                });
            }
        </script>
    </div>
</main>
{% endblock %}
