/* ベースのスタイル */
h1 {
  text-align: center;
}

div.reg {
  background-color: #eeeeee;
  margin: auto; /* 中央揃えに */
  max-width: 640px; /* 最大幅を設定 */
  padding-top: 10px;
  padding: 10px;
}

.message {
  text-align: right;
  margin-right: 20%;
}

table.reg_form {
  width: 100%; /* テーブルの幅を100%に設定 */
}
/* 各テーブルセルのスタイル */
table.reg_form td {
  min-width: 100px; /* 最小幅を設定 */
  max-width: 200px; /* 最大幅を設定 */
  overflow: hidden; /* 内容がセルをはみ出さないようにする */
  text-overflow: ellipsis; /* 長い文字列を省略形で表示 */
  white-space: nowrap; /* 改行を防止 */
  padding-right: 5px;
}
table.reg_form th {
  padding-left: 5px;
  white-space: nowrap; /* 改行を防止 */
}

table.reg_form small {
  white-space: nowrap; /* 改行を防止 */
}
table.reg_form td input,
table.reg_form td select,
table.reg_form td textarea {
  width: 100%; /* Set the width relative to the parent container */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

table.reg_form input::placeholder {
  padding-left: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap; /* Prevent text wrapping inside the placeholder */
}


/* ボタンコンテナのスタイル */
.button-container {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: auto; /* 中央揃え */
}
.button-log {
  justify-content: center;
  align-items: center;
  margin: auto; /* 中央揃え */
  margin-top: 20px; /* 上の空白 */
  margin-bottom: 20px; /* 下の空白 */
}
input::placeholder {
  padding-left: 2px;
}
.button-container button:first-child {
  margin-right: 20px; /* 右のボタンからの距離 */
}

.button-container button:last-child {
  margin-left: 20px; /* 左のボタンからの距離 */
}
.button-container input[type="submit"].btn-submit {
  /* ここにカスタムスタイルを追加します */
  width: auto; /* 必要な幅に設定 */ /* パディングを調整 */
  /* その他のスタイル... */
}
/* ボタンの共通スタイル */
.btn {
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
  display: inline-block; /* ボタンをインラインブロック要素に */
  min-width: 60px; /* 最小幅を設定 */
  max-width: 100%; /* 最大幅を親要素の100%に設定 */
  white-space: nowrap; /* テキストが折り返されないように設定 */
  overflow: hidden; /* コンテンツがオーバーフローした場合に非表示にする */
  text-overflow: ellipsis; /* オーバーフローしたテキストの末尾に三点リーダを表示する */
}
.post-title,
.post-subtitle {
  max-width: 230px; /* 最大幅を250pxに設定 */
  overflow: hidden; /* はみ出したテキストを隠す */
  text-overflow: ellipsis; /* はみ出したテキストを三点リーダーで表示 */
  white-space: nowrap; /* テキストの折り返しを防止 */
}
@media screen and (max-width: 768px) {
  .post-title,
  .post-subtitle {
  max-width: 130px; /* 最大幅を250pxに設定 */
  overflow: hidden; /* はみ出したテキストを隠す */
  text-overflow: ellipsis; /* はみ出したテキストを三点リーダーで表示 */
  white-space: nowrap; /* テキストの折り返しを防止 */
}
.btn {
  padding: 8px 20px;
  font-size: 16px;
}
}
/* キャンセルボタンのスタイル */
.btn-cancel {
  --bs-btn-bg: #ff3333; /* 明るく鮮やかな赤色 */
  --bs-btn-color: white; /* 文字色 */
  --bs-btn-hover-bg: #ff4d4d; /* ホバー時の背景色を明るく */
  --bs-btn-hover-color: #333; /* ホバー時の文字色を濃く */
  --bs-btn-active-bg: #ff4d4d; /* アクティブ時の背景色を明るく */
  --bs-btn-active-color: #333; /* アクティブ時の文字色を濃く */
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-cancel:hover,
.btn-cancel:active {
  background-color: var(--bs-btn-hover-bg);
  color: var(--bs-btn-hover-color);
}

.btn-submit {
  --bs-btn-bg: #009999; /* 元の色 */
  --bs-btn-color: white; /* 文字色 */
  --bs-btn-hover-bg: #33cccc; /* ホバー時の背景色を明るく */
  --bs-btn-hover-color: #333; /* ホバー時の文字色を濃く */
  --bs-btn-active-bg: #33cccc; /* アクティブ時の背景色を明るく */
  --bs-btn-active-color: #333; /* アクティブ時の文字色を濃く */
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: var(--bs-btn-hover-bg);
  color: var(--bs-btn-hover-color);
}

/*footer*/

footer.footer {
  position: fixed;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* フッターの高さを適宜調整してください */
  background-color: #333; /* フッターの背景色を適宜調整してください */
  color: white;
  text-align: center;
  z-index: 1000; /* 他の要素より上に表示されるように */
}

/* メインコンテンツの下部にフッターの高さ分のスペースを確保 */

@media screen and (max-width: 768px) {
  table.reg_form {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  table.reg_form {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  table.reg_form {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

/* ヘッダーiconの隣にスペースを確保 */
.mr-2 {
  margin-right: 8px;
}

/* ヘッダー画面該当ページを白くする */
.nav-link.active,
.dropdown-item.active {
  color: #fff;
}

/* ドロップダウンメニュー内のアクティブな項目の背景色を灰色に設定 */
.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:active {
  background-color: #6c757d; /* Bootstrapの灰色 */
}

/* 検索のcss */
#map-container {
  margin-top: -47.9px; /* 上のマージンを取り除く */
  padding-top: 0; /* 上のパディングを取り除く */
  position: relative;
  height: calc(100vh - 40px);
}

#map-log {
  padding-top: 0; /* 上のパディングを取り除く */
  position: relative;
  height: calc(100vh - 40px);
}
#map {
  height: 100%;
}

#directions-panel {
  position: absolute;
  top: 100px;
  left: 0;
  width: 30%;
  bottom: 20px;
  max-height: 65px; /* 初期の最大高さ */
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-sizing: border-box;
  transition: max-height 0.3s ease;
}

#directions-panel.expanded {
  max-height: calc(100vh - 40px); /* 拡大時の最大高さ */
}
@media screen and (max-width: 800px) {
  #directions-panel {
  width: 50%;
  }
  #directions-panel.expanded {
    top:70%;
    width: 100%;
    max-height: calc(100vh - 40px); /* 拡大時の最大高さ */
  }
}

/* 2023/12/24 外部サイト遷移のためのボタンのcssを追記 */
.hello-cycling-button {
  background-color: #4CAF50; /* 緑色の背景 */
  color: white; /* テキストの色 */
  padding: 10px 20px; /* パディング */
  border: none; /* ボーダーを非表示に */
  border-radius: 5px; /* 角丸の設定 */
  cursor: pointer; /* カーソルをポインターに */
  font-size: 16px; /* フォントサイズ */
  margin-top: 10px; /* 上部のマージン */
}


#floating-panel {
  /* 既存のスタイル */
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  top: 60px;
  right: 500px;
  width: auto;
  max-width: 300px; /* 最大幅を設定 */
  min-width: 300px;
  box-sizing: border-box;
  overflow: auto;
  word-wrap: break-word;
  white-space: normal;

  /* 新規追加スタイル */
  display: flex; /* フレックスボックスを有効にする */
  flex-direction: column; /* 子要素を垂直方向に並べる */
  align-items: center; /* 子要素を中央揃えにする */
}

@media screen and (max-width: 800px) {
  #floating-panel {
    left: 50%;
    max-width: 100%; /* 小さい画面ではパネルの幅を画面の90%まで拡大 */
  }
}


.input-group {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃え */
}

.input-group label{
  font-size: 18px;
  margin-top: 10px;
  margin-right: 5px; /* 右のマージン */
}
.input-group input,
.input-group i {
  margin-top: 10px;
  margin-right: 5px; /* 右のマージン */
}

.input-group i {
  padding-top: 2px; /* アイコンの位置調整 */
}

/* ...他のスタイル... */

.form-group {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap; /* 折り返しを防ぐ */
  justify-content: center; /* 中央揃え */
  margin-top: 5px;
}

.form-group label {
  white-space: nowrap; /* ラベルの折り返しを防ぐ */
}

.cp_ipselect {
	position: relative;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.mode-selector {
  margin-top: 15px;
}
#waypoint1-group, #waypoint2-group, #waypoint-label {
  display: none;
}
.mode-Relay {
  margin-top: 10px;
}

.jjj {
  box-sizing: border-box;
  overflow: auto; /* Add scrollbars if content overflows */
  word-wrap: break-word; /* Ensure long words do not cause overflow */
  white-space: normal; /* Allow text to wrap within the panel */
}
@media only screen and (max-width: 600px) {
  .jjj .btn, .jjj .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

.tab {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color:#fff;
}


/* タブコンテンツのスタイル */
.tab-content {
  display: none; /* 初期状態で非表示 */
  background-color: var(--bs-btn-bg);
  border-radius: 4px; /* 角丸 */
 
}
.active {
  display: block;
}
/* タブのホバー効果 */
.tab:hover {
  background-color: #e9ecef; /* ホバー時の背景色 */
}

/* アクティブなタブのスタイル */
.active-tab {
  background-color: #007bff;
  color: white;
}

/* タブの基本スタイル */
.tab {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 2px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}


/* タブコンテンツ内の段落のスタイル */
.tab-content p {
  margin-top: 15px; /* 段落間の余白 */
  line-height: 1.6; /* 行の高さ */
  font-size: 1rem; /* 文字サイズ */
}

/* 最後のパラグラフのスタイル調整 */
.tab-content p:last-child {
  margin-bottom: 0; /* 最後の段落の下余白を削除 */
}

/* 強調テキストのスタイル */
.tab-content p span {
  font-weight: 600; /* より太いフォントウェイト */
  color: #000; /* 強調色 */
}

.segment-info {
  border: 1px solid #cccccc; /* より柔らかいグレーに変更 */
  margin-bottom: 20px; /* 余白を少し広げる */
  padding: 10px; /* パディングを増やす */
  border-radius: 10px; /* 角をより丸く */
  background-color: #ffffff; /* 明るい白に変更 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* より深みのあるシャドウに */
  position: relative; /* 矢印の位置の基準とするため */
  overflow: hidden; /* 矢印などのはみ出しを防ぐ */
}

.segment-title {
  font-weight: bold;
  color: #007bff; /* より鮮やかなブルーに変更 */
  margin-bottom: 15px; /* タイトルの下のマージンを増やす */
  font-size: 1.2em; /* タイトルのフォントサイズを大きく */
}

.segment-info p {
  margin: 10px 0; /* パラグラフ間のマージンを広げる */
  margin-bottom: 15px;
  line-height: 1.5; /* 行間を広げる */
  position: relative; /* 矢印の位置の基準とするため */
}

.segment-info i.fas.fa-arrow-down {
  display: block; /* アイコンをブロック要素として扱い、下のマージンを有効にします */
  margin-bottom: 15px; /* 下の余白を追加 */
  text-align: center; /* アイコンを中央揃えにします */
}

/* モバイルビューなどの小さい画面で矢印が見切れないようにするために、
   セグメント情報の左側に余白を追加します。 */
@media screen and (max-width: 768px) {
  .segment-info {
    padding-left: 50px; /* 左側のパディングを増やす */
  }
}

#toggle-icon {
  position: absolute; /* ボタンを固定位置にする */
  top: 10px; /* ヘッダーや他の要素との重なりを避けるために調整 */
  right: -22px; /* 右端から10pxの位置に設定 */
  z-index: 10; /* 必要に応じて z-index を設定して他の要素の上に表示 */
}

#toggle-button {
  position: absolute; /* ボタンを固定位置にする */
  top: 30px; /* ヘッダーや他の要素との重なりを避けるために調整 */
  right: -20px; /* 右端から10pxの位置に設定 */
  z-index: 10; /* 必要に応じて z-index を設定して他の要素の上に表示 */
}
@media screen and (max-width: 600px) {
  #toggle-icon {
    position: absolute; /* ボタンを固定位置にする */
    top: 60px; /* ヘッダーや他の要素との重なりを避けるために調整 */
    right: 22px; /* 右端から10pxの位置に設定 */
    z-index: 10; /* 必要に応じて z-index を設定して他の要素の上に表示 */
  }
  
  #toggle-button {
    position: absolute; /* ボタンを固定位置にする */
    top: 80px; /* ヘッダーや他の要素との重なりを避けるために調整 */
    right: 24px; /* 右端から10pxの位置に設定 */
    z-index: 10; /* 必要に応じて z-index を設定して他の要素の上に表示 */
  }
}
#current-location-icon {
  cursor: pointer; /* アイコンがクリック可能であることを示す */
  font-size: 24px; /* アイコンのサイズを設定 */
  color: #000; /* アイコンの色を設定 */
  /* その他のスタイリングを必要に応じて追加 */
}

#swap-icon {
  cursor: pointer; /* アイコンにマウスを合わせたときにカーソルをポインタに変更 */
  color: #000; /* アイコンの色を設定 */
  font-size: 24px; /* アイコンのサイズを設定 */
  transform: rotate(90deg); /* Rotate the first swap icon only */
}
#swap-icon-updown {
  cursor: pointer; /* アイコンにマウスを合わせたときにカーソルをポインタに変更 */
  color: #000; /* アイコンの色を設定 */
  font-size: 24px; /* アイコンのサイズを設定 */
}
/* 表示されたときに横一列に並べるためのスタイル */
.form-group {
  /* display: flex; */
  align-items: center; /* フォーム要素を垂直方向の中央に配置 */
  gap: 8px; /* 要素間の隙間 */
}

label {
  font-weight: bold;
}

.button-class {
  background-color: #000000; /* 緑色の背景 */
  color: white; /* 白色のテキスト */
  border: none; /* 枠線なし */
  border-radius: 5px; /* 角を丸くする */
}

.button-class {
  transition: all 0.3s ease;
}
.button-class:hover {
  transform: scale(1.1);
}

/* admin_topのcss */
.post-preview {
  background-color: #f8f9fa; /* 薄い背景色 */
  border: 1px solid #e0e0e0; /* 境界線 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 影 */
  margin-bottom: 15px; /* 下部の余白 */
  padding: 15px; /* 内側の余白 */
}

.post-title {
  font-size: 1.25rem; /* タイトルのフォントサイズ */
  color: #333; /* 文字色 */
}

.post-subtitle {
  font-size: 1rem; /* サブタイトルのフォントサイズ */
  color: #666; /* 文字色 */
}

.pagination .page-item .page-link {
  margin: 0 5px; /* 余白 */
  color: #007bff; /* リンク色 */
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* アクティブなページの背景色 */
  color: white; /* アクティブなページの文字色 */
}

/*topへ戻るbtn*/
#page-top {
  position: fixed;
  right: 20px;
  bottom: 70px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: #737373;
  padding: 0 0 0 35px;
  border-top: solid 1px;
}
#page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
}
#page-top:hover {
  color: #000000; /* ここで色を変更 */
  cursor: pointer; /* カーソルをポインタに変更 */
}
.initially-hidden {
  display: none;
}
/*その他と主な共通部分は省略*/

/*主な共通部分は省略*/

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.25rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  border-radius: 0 50% 50% 0;
  background: #000;
}

.btn-border:hover:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  line-height: 30px;

  width: 30px;
  height: 30px;

  content: '\f061';
  -webkit-transform: translateX(220%) translateY(.1rem);
  transform: translateX(220%) translateY(.1rem);

  color: #fff;
  border-radius: 50%;
}
.kid{
  margin-top: 0;
}
.no-margin-top {
  margin-top: 0;
}