/* ベーススタイル */
h1 {
  text-align: center;
}

/* 登録フォームコンテナのスタイル */
.reg {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* フォームのテーブルスタイル */
table.reg_form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table.reg_form tr {
  border-bottom: 1px solid #e9e9e9;
}

table.reg_form td {
  padding: 10px;
  vertical-align: top;
}

/* フォームの入力要素のスタイル */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px; /* ラベルとのスペース */
}

/* エラーメッセージのスタイル */
.error {
  color: #d9534f; /* エラーの色 */
  margin-top: 5px;
}


/* ボタンコンテナのスタイル */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.button-container button:first-child {
  margin-right: 20px; /* 右のボタンからの距離 */
}

.button-container button:last-child {
  margin-left: 20px; /* 左のボタンからの距離 */
}


/* ボタンの共通スタイル */
.btn {
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
}

/* キャンセルボタンのスタイル */
.btn-cancel {
  background-color: #ff0000;
}

/* 登録ボタンのスタイル */
.btn-submit {
  background-color: #009999;
}

/* ボタンのホバー効果 */

/* キャンセルボタンのホバー時のスタイルを暗い赤色に変更 */
.btn-cancel:hover {
  background-color: #c00000; /* 暗い赤色に変更 */
}
.btn-submit:hover {
  background-color: #809999; /* 暗い赤色に変更 */
}
