/* ベースのスタイル */
h1 {
  text-align: center;
}

div.reg {
  background-color: #EEEEEE;
  margin-left: 13%;
  margin-right: 13%;
}

.message {
  text-align: right;
  margin-right: 20%;
}

table.reg_form {
  width: 100%;
  border-spacing: 10px 30px;
  padding-left: 20px;
}

/* ボタンコンテナのスタイル */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.button-container button:first-child {
  margin-right: 20px; /* 右のボタンからの距離 */
}

.button-container button:last-child {
  margin-left: 20px; /* 左のボタンからの距離 */
}


/* ボタンの共通スタイル */
.btn {
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 背景色の変化を滑らかに */
}

/* キャンセルボタンのスタイル */
.btn-cancel {
  background-color: #ff0000;
}

/* 登録ボタンのスタイル */
.btn-submit {
  background-color: #009999;
}

/* ボタンのホバー効果 */

/* キャンセルボタンのホバー時のスタイルを暗い赤色に変更 */
.btn-cancel:hover {
  background-color: #c00000; /* 暗い赤色に変更 */
}
.btn-submit:hover {
  background-color: #809999; /* 暗い赤色に変更 */
}

/*footer*/

footer.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* フッターの高さを適宜調整してください */
  background-color: #333; /* フッターの背景色を適宜調整してください */
  color: white;
  text-align: center;
  z-index: 1000; /* 他の要素より上に表示されるように */
}

/* メインコンテンツの下部にフッターの高さ分のスペースを確保 */
body, html {
  margin: 0;
  padding-bottom: 60px; /* フッターの高さに合わせて調整してください */
}

.container.text-center {
  text-align: center;
}
